extends layout

block content
  h1= title
  h2 Your CPD Manager
  p Create a CPD Activity

  form(method='POST' action='')
    div.form-group
      label(for='title') CPD Activity:
      input#title.form-control(type='text' placeholder='Enter Title' name='title' required='true') 
    div.form-group 
      label(for='twaves') T-WAVES Type:
      select#status.form-control(type='select' placeholder='Select status' name='twaves' required='true')
        option(value='Training') Training
        option(value='Work') Work
        option(value='Accademic_Study') Accademic Study
        option(value='Volunteer') Volunteer
        option(value='Events') Events
        option(value='Self_Study') Self Study
    div.form-group
      label(for='date_commenced') Date Commenced:
      input#due_back.form-control(type='date' name='date_commenced' required='true')
    div.form-group
      label(for='date_completed') Date Completed:
      input#due_back.form-control(type='date' name='date_completed')
    div.form-group
      label(for='status') Status:
      select#status.form-control(type='select' placeholder='Select status' name='status' required='true')
        option(value='In-planning') In planning
        option(value='In-work') In work
        option(value='On Hold') On Hold
        option(value='Complete') Complete
    div.form-group
      div
      if goals
        label(for='goals') Link to Goals:
        for goal in goals
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox' name='goal', id=goal._id, value=goal._id, checked=goal.checked )
            label(for=goal._id) #{goal.name}
    div.form-group
      label(for='notes') Notes:
      input#textarea.form-control(type='notes' name='notes' placeholder='Enter CPD Activity notes...' rows='3')

    button.btn.btn-primary(type='submit') Create CPD Activity

    if errors 
      ul
        for error in errors
          li!= error.msg


